
* {
    margin: 0 auto;
}

body {
    background: #EEEEEE;
}

.mucluc {
    width: 300px;
    height: 500px;
    left: 0px;
    top: 100px;
    background: #EEEEEE;
    position: absolute;
    position: fixed;
}
ul li{
    list-style-type:none ;
}
ul li button {
    margin-bottom: 20px;
    font-family: "Adobe Caslon Pro Bold";
}
.nut{
    width: 90px;
    height: 40px;
    color: deeppink;
    margin-bottom: 20px;

}

div {
    width: 1066px;
    top: 10px;
    height: auto;
    background: white;
    position: relative;
}

.nut {
    margin-right: 20px;
    text-align: center;
}

img {
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

